/* BACKGROUND */
body {
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

/* UPLOAD */
a, a:hover {
 color: #fff;
 text-decoration: none;
}
.button.is-primary {
 background-color: transparent;
 border-color: #fff;
 color: #fff;
 
}
.button.is-primary:hover {
 background-color: #fff;
 color: #000;
 text-decoration: none;

}
.select-wrapper {
	text-align: center;
	margin-bottom: 10px;
}
section#home #b {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: floatUp;
	animation-name: floatUp;
	-webkit-animation-timing-function: cubic-bezier(0, 0.71, 0.29, 1);
	animation-timing-function: cubic-bezier(0, 0.71, 0.29, 1);
	border-radius: 24px;
	display: inline-block;
	height: 240px;
	margin-bottom: 40px;
	position: relative;
	vertical-align: top;
	width: 240px;
	box-shadow: 0 20px 60px rgba(10, 10, 10, 0.05), 0 5px 10px rgba(10, 10, 10, 0.1), 0 1px 1px rgba(10, 10, 10, 0.2);
}

section#home div#dropzone {
	border: 1px solid #dbdbdb;
    border-color: #fff;
    color: #fff;
    display: none;
    width: 100%;
    border-radius: 3px;
    box-shadow: none;
    height: 2.5em;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    user-select: none;
    justify-content: center;
    padding-left: .75em;
    padding-right: .75em;
    text-align: center;
    cursor: pointer;   
}

section#home div#uploads, section#home p#tokenContainer, section#home a#panel { display: none; }
section#home div#dropzone:hover { background-color: #fff; border-color: #fff; color: #000; }
section#home h1#title {font-size: 2.5rem; font-family: 'Open Sans'; font-weight: 300; margin-bottom: .5rem; line-height: 1.2; }
section#home h3#maxFileSize { font-size: 16px; color: #fff; }
section#home h2 {color: #fff; font-weight: 600; }
section#home h3#links span { padding-left: 5px; padding-right: 5px; }
section#home img.logo { height: 200px; margin-top: 20px; }
section#home .dz-preview .dz-details { display: flex; }
section#home .dz-preview .dz-details .dz-size, section#home .dz-preview .dz-details .dz-filename { flex: 1; }
section#home .dz-preview img, section#home .dz-preview .dz-success-mark, section#home .dz-preview .dz-error-mark { display: none; }
section#home div#uploads { margin-bottom: 25px; }

@keyframes floatUp {
	0% {
		opacity: 0;
		box-shadow: 0 0 0 rgba(10, 10, 10, 0), 0 0 0 rgba(10, 10, 10, 0), 0 0 0 rgba(10, 10, 10, 0);
		-webkit-transform: scale(0.86);
		transform: scale(0.86);
	}
	25% { opacity: 100; }
	67% {
		box-shadow: 0 0 0 rgba(10, 10, 10, 0), 0 5px 10px rgba(10, 10, 10, 0.1), 0 1px 1px rgba(10, 10, 10, 0.2);
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	100% {
		box-shadow: 0 20px 60px rgba(10, 10, 10, 0.05), 0 5px 10px rgba(10, 10, 10, 0.1), 0 1px 1px rgba(10, 10, 10, 0.2);
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}